.*/
otcv8/The Violet Project.log
otcv8/init.lua
*.log
gameserver/config.lua
https://github.com/Swiruseq/TVP-primeiro/blob/main/gameserver/src/player.cpp#L2868


```c++
else if (const DepotLocker* depot = dynamic_cast<const DepotLocker*>(topContainer)) {
if (Depotlocker == depot) {
onSendContainer(container);
					} else {
						autoCloseContainers(container);
					}
```

https://github.com/gesior/forgottenserver-gesior/commit/241e1fc67731d2cfa3ef8fdc908b22d20480eecd#diff-10c39dd978ada90e0d090a045c4ae5f51dad010f3b754679e15894c9b93d254bR3101